h1 {
    margin: 15px 0;
    font-weight: 900;
    font-size: xxx-large;
    text-shadow: 2px 2px 0 #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #00d4ff, #005eff);
}

h3 {
    text-shadow: 1px 1px 0  #531a82;
    position: absolute;
    cursor: pointer;
    color: #7fffe0;
    bottom: 30px;
}

h3 a {
    text-decoration: none;
    color: inherit;
}

a {
    cursor: pointer;
}

canvas {
    display: block;
    margin-bottom: 89px;
    background-color: black;
}