@media (max-height: 650px) {
    h1 {
        text-shadow: none;
        background: none;
    }
}

@media screen and (max-width: 600px) {
    .control-btn, .attack-btn {
        font-size: 14px;
        height: 34px;
        width: 34px;
    }

    .panel-wrapper {
        gap: 6px;
    }

    .dpad {
        gap: 3px;
    }

    .dpad-middle-row {
        gap: 3px;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        display: none;
    }

    canvas {
        height: 100dvh !important;
        margin: 0;
    }
}

@media (orientation: portrait) and (max-width: 1024px) {
    canvas {
        width: 100%;
    }

    #rotate-overlay {
        display: flex;
    }
}